@import './settings/colors';

#organizations--section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70rem;

    .organizations--container {
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        & > h2 {
            font-size: 2.375rem;
        }

        .btn--container {
            display: flex;
            width: 60rem;
            justify-content: space-evenly;
            button {
                font-size: 1.5rem;
                color: $color-text;
                width: 13rem;
                height: 5rem;
                background: none;
                border: none;

                &.active {
                    border: 1px solid;
                }
            }
        }

        & > p {
            max-width: 40rem;
            font-size: 1.375rem;
            text-align: center;
            line-height: 30px;
        }

        & > .result--list {
            width: 84rem;
            height: 22rem;

            li {
                height: 7.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 300;
                
                h2 {
                    font-size: 1.625rem;
                }

                p {
                    font-size: 1.375rem;
                }

                & > p {
                    font-size: 1.125rem;
                }

                &:nth-child(2n+0) {
                    border-top: 1px solid;
                    border-bottom: 1px solid;
                }
            }
        }

        & > .pagination {
            height: 3rem;
            ul {
                display: flex;
                justify-content: center;

                li {
                    padding: 0.6rem;
                    margin: 0 0.2rem;

                    &.active {
                        border: 0.75px solid;
                    }
                }
            }
        }
    }
}




@media (max-width: 1550px) {
    #organizations--section {
        .organizations--container {
            width: 90%;
    
            & > .result--list {
                width: 100%;
                height: 22rem;
    
                li {
                    & > p {
                        margin-left: 5rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 1120px) {
    #organizations--section {
        height: 120vw;
    
        .organizations--container {
            & > h2 {
                font-size: 4.1vw;
            }
    
            .btn--container {
                width: 90%;
                button {
                    font-size: 2.3vw;
                    width: 19vw;
                    height: 8vw;
                    padding: 0;
                }
            }
    
            & > p {
                font-size: 2.2vw;
                line-height: 3.5vw;
            }
    
            & > .result--list {
                width: 80%;
                height: 50vw;
                li {
                    justify-content: space-evenly;
                    flex-direction: column;
                    text-align: center;
                    height: 17vw;

                    h2 {
                        line-height: 150%;
                        font-size: 4vw;
                    }

                    p {
                        font-size: 3vw;
                    }
    
                    & > p {
                        font-size: 2.5vw;
                        margin-left: 0;
                    }

                    &:nth-child(2n+0) {
                        border-top: 0.5px solid;
                        border-bottom: 0.5px solid;
                    }
                }
            }
    
            & > .pagination {
                ul {
                    li {
                        margin: 0 0.5rem;
                    }
                }
            }
        }
    }
}