@import './settings/colors';
@import './settings/fonts';

#contact--section {
    height: 67rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    &::before {
        content: "";
        z-index: -1;
        width: 100%;
        height: 67rem;
        position: absolute;
        background-image: url('../assets/Background-Contact-Form.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.2;
    }


    .form--container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

        & > img {
            margin: 2.5rem 0;
        }

        & > h2 {
            font-size: 2.375rem;
        }

        .successMsg {
            color: #1c941c;
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 20px;
            text-align: center;
        }

        & > form {

            .err {
                font-size: 0.8rem;
                letter-spacing: -0.30px;
                position: absolute;
                font-weight: 600;
                color: #e72e15;
                margin-top: 0.5rem;
            }

            .contact--form {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 33rem;

                h2 {
                    margin-top: 2rem;
                    font-weight: 600;
                    padding: 1rem 0;
                }

                input[name='name'], input[name='email'] {
                    width: 16rem;
                }

                textarea[name='message'] {
                    width: 33rem;
                    resize: none;
                    height: 6rem;
                    font-family: $font-base;
                    line-height: 24px;
                }

                input, textarea {
                    border: none;
                    border-bottom: 1px solid $color-text;
                    padding: 0.3rem 0;
                    font-size: 1.125rem;
                    background: none;

                    &::placeholder {
                        opacity: 20%;
                    }
                }
            }

            button {
                float: right;
                background: none;
                font-size: 1.125rem;
                color: $color-text;
                border: 0.75px solid $color-text;
                width: 9.3rem;
                height: 3.1rem;
                margin-top: 2.5rem;
            }
        }
    }

    .footer--container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        font-size: 1.125rem;

        width: calc(100% - 20rem);

        & > div {
            position: absolute;
            right: 0;

            a {
                margin-left: 1.5rem;
            }
        }
    }

    .form--container, .footer--container {
        margin-right: 10rem;
    }
}



@media (max-width: 1400px) {
    
    #contact--section {
        align-items: center;
    
        .footer--container {
            & > div {
                position: static;
            }
        }
    
        .form--container, .footer--container {
            margin-right: 0;
        }
    }
}


@media (max-width: 630px) {
    #contact--section {
        align-items: center;

        .form--container {
            & > h2 {
                font-size: 2rem;
            }
            & > form {
                .err {
                    margin-right: 2rem;
                }
                .contact--form {
                    width: 85vw;

                    input[name='name'], input[name='email'] {
                        width: 40vw;
                    }
    
                    textarea[name='message'] {
                        width: 85vw;
                    }
                }
            }
        }
    
        .footer--container {
            width: 100vw;
            & > div {
                position: static;
    
                a {
                    margin-left: 1.5rem;
                }
            }
        }
    
        .form--container, .footer--container {
            margin-right: 0;
        }
    }
}




@media (max-width: 450px) {
    #contact--section {
        align-items: center;

        .form--container {
            & > h2 {
                font-size: 7vw;
            }
            & > form {
                .contact--form {
                    input[name='name'], input[name='email'] {
                        width: 85vw;
                    }
                }
            }
        }
    
        .footer--container {
            p {
                font-size: 4vw;
            }
            & > div {
                position: static;
            }
        }
    }
}