@import './settings/colors';

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 60rem;
    background-image: url('../assets/Home-Hero-Image.jpg');
    background-repeat: no-repeat;
    background-position: -30rem;

    & > div {
        display: flex;
        flex-direction: column;
        margin-right: 14vw;
        margin-top: 21rem;

        img {
            margin: 1.5rem 0 4rem 0;
        }

        & > div {
            display: flex;
            justify-content: space-between;

            p {
                text-transform: uppercase;
                font-weight: 300;
                color: $color-text;
                font-size: 2.25rem;
                border: 1px solid $color-text;
                width: 19rem;
                height: 7.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                line-height: 45px;

                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        h2 {
            font-size: 2.375rem;
            text-align: center;
            line-height: 55px;
        }
    }
}



@media (max-width: 1900px) {
    header {
        & > div {
            margin-right: 8vw;
        }
    }
}



@media (max-width: 1700px) {
    header {
        background-size: cover;
        background-position: -22rem 20rem;
    
        & > div {
            margin-top: 18rem;

            img {
                height: 2.5rem;
            }
        }
    }
}




@media (max-width: 1400px) {
    header {
        height: 75rem;
        background-position: -17rem 37rem;
        background-size: 100%;
        
        & > div {
            margin: 15rem auto;
            
            & > div {
                justify-content: space-evenly;
            }
            h2 {
                font-size: 3rem;
            }
        }
    }
}



@media (max-width: 1200px) {
    header {
        height: 60rem;
        background-position: -17rem 30rem;
    
        & > div {
            margin: 7rem auto;
        }
    }
}



@media (max-width: 985px) {
    header {
        background-position: -15rem 37rem;
        background-size: 120%;
        & > div {
            width: 90%;

            h2 {
                line-height: 80px;
                font-size: 3.5rem;
            }
        }
    }
}




@media (max-width: 800px) {
    header {
        background: none;
        height: 120vw;
        &:before {
            height: 120vw;
            width: 100vw;
            content: '';
            position: absolute;
            background-image: url('../assets/Home-Hero-Image.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            background-position: -30rem 5rem;

            opacity: 20%;
        }

        & > div {
            height: 100%;
            margin: 0 auto;
            justify-content: center;

            img {
                margin: 1.5rem 0;
            }

            h2 {
                font-size: 6vw;
                line-height: 10vw;
            }

            & > div {
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 17rem;
    
                p {
                    width: 70vw;
                }
            }
        }
    }
}



@media (max-width: 500px) {
    header {
        height: 120vw;
        margin-bottom: 2rem;

        &:before {
            background-position: -10rem 5rem;
            height: 170vw;
        }
        
        & > div {
            h2 {
                font-size: 7vw;
            }
            
            & > div {
                height: 45vw;
                p {
                    font-size: 6vw;
                    line-height: 8vw;
                    height: 20vw;
                    width: 50vw;
                }
            }
        }
    }
}

