@import '../scss/settings/colors';

section.simple--steps {
    display: flex;
    flex-direction: column;

    .steps--title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 12.5rem;
        text-align: center;
        h2 {
            font-size: 2.375rem;
            line-height: 55px;
            margin-bottom: 1.5rem;
        }
    }

    .steps--container {
        height: 20.3rem;
        background-color: $color-secondary;
        display: flex;
        align-items: center;

        & > div {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 70rem;

            & > div {
                text-align: center;
                width: 10rem;

                h2, p {
                    margin: 0.7rem 0;
                }

                h2 {
                    font-size: 1.125rem;
                }
    
                hr {
                    width: 4.375rem;
                    height: 1px;
                    border: none;
                    background-color: $color-text-light;
                }
            }
        }
    }

    .steps--btn {
        height: 14.6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: $color-text;
            font-size: 2.25rem;
            border: 1px solid;
            text-transform: uppercase;
            font-weight: 300;
            width: 19rem;
            height: 7.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 45px;

            transition: transform 0.2s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}




@media (max-width: 1330px) {
    section.simple--steps {
        .steps--container {
            & > div {
                width: 85%;
            }
        }
    }
}


@media (max-width: 830px) {
    section.simple--steps {
        .steps--container {
            & > div {
                width: 93%;
            }
        }
    }
}


@media (max-width: 750px) {
    section.simple--steps {
        .steps--container {
            & > div {
                width: 93%;

                & > div {
                    width: 8rem;
                    img {
                        width: 4rem;
                    }
                }
            }
        }
    }
}




@media (max-width: 600px) {

    section.simple--steps {
        .steps--title {
            h2 {
                font-size: 2rem;
            }
        }
    
        .steps--container {
            height: 50rem;
            & > div {
                height: 100%;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
            }
        }
    
        .steps--btn {
            p {
                font-size: 2rem;
                width: 15rem;
                height: 7rem;
            }
        }
    }
}



@media (max-width: 330px) {

    section.simple--steps {
        .steps--title {
            margin: 0 auto;
            width: 80%;
        }
    
        .steps--container {
            height: 50rem;
            & > div {
                height: 100%;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
            }
        }
    
        .steps--btn {
            height: 50vw;
            p {
                font-size: 1.5rem;
                line-height: 12vw;
                width: 55vw;
                height: 30vw;
            }
        }
    }
}