@import './settings/colors';

section.login, section.register{
    height: 60rem;
    display: flex;
    align-items: center;
    margin-top: 15rem;
    flex-direction: column;

    & > img {
        margin: 2rem 0 3.5rem 0;
    }

    & > h2 {
        font-size: 2.5rem;
    }

    .form--inputs {
        margin: 0 auto;
        width: 24rem;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: $color-secondary;

        & > div {
            width: 63%;
        }
        h2 {
            font-weight: 600;
        }

        input {
            border: none;
            background: none;
            border-bottom: 1px solid $color-text;
            width: 100%;
            height: 2.5rem;
            font-size: 1.5rem;
            color: $color-text;
        }

        .err {
            font-size: 0.8rem;
            letter-spacing: -0.30px;
            position: absolute;
            font-weight: 600;
            color: #e72e15;
            margin-top: 0.5rem;
        }

        .red--border {
            border-bottom: 1px solid #e72e15;
        }
    }

    .form--buttons {
        display: flex;
        width: 31.5rem;
        justify-content: space-between;
        align-items: center;
        margin-top: 2.5rem;
        
        button {
            color: $color-text;
            font-size: 1.125rem;
            background: none;
            border: 0.75px solid;
            width: 7rem;
            height: 3rem;
            padding: 0;
            font-weight: 300;
            cursor: pointer;
        }
        
        p {
            color: $color-text;
            font-size: 1.125rem;
            cursor: pointer;
            font-weight: 300;
        }
    }
}